.benefits-section {
  background-color: $_main_bg_color;
  padding-top: 28px;
  padding-bottom: 45px;
  scroll-margin-top: 50px;
}

.benefits-section-wrapper {
  @include media(desktop) {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}

.benefits-title {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 63px;
  }
}

.benefits-swiper-container {
  position: relative;
  overflow: hidden;
  max-width: 335px;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 540px;
    height: 116px;
    overflow: visible;
  }
}

.benefits-swiper-container.show {
  visibility: visible;
}

.benefits-slide {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: 1px solid #fff;
  box-shadow: 0 2px 18px 0 rgba(255, 255, 255, 0.35);
  padding: 18px 18px;

  @include media(desktop) {
    padding: 18px 45px;
  }
}

.benefits-slide-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.benefits-circle-wrapper {
  display: flex;
  align-items: center;
}

.benefits-subtitle {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $_main_color;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 18px;
    text-align: left;
  }
}

.benefits-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: $_main_color;

  @include media(desktop) {
    font-size: 16px;
    text-align: left;
  }
}

.benefits-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 22px;

  @include media(desktop) {
    margin-top: 42px;
  }
}

.arrow-btn {
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
