.faq-section {
  padding-top: 18px;
  padding-bottom: 32px;
  background-image: url(../img/faq/faq-bg-mob-min.png),
    linear-gradient(360deg, #ba0000 0%, #ff953b 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    background-image: url(../img/faq/faq-bg-desk-min.png),
      linear-gradient(360deg, #ba0000 0%, #ff953b 100%);
    padding-top: 14px;
    padding-bottom: 59px;
  }
}

.faq-title {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 61px;
  }
}

.faq-title-img {
  margin: 0 auto;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #a50000;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    width: 1000px;
  }
}

.faq-top-text {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.faq-icon {
  stroke: #000;
  transform: rotate(45deg);
}

.faq-icon-minus {
  width: 28px;
  height: 28px;
}

.faq-bottom-text {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-top: auto;
  max-width: 271px;
  padding: 0 0 16px 16px;
  display: none;

  @include media(desktop) {
    max-width: 100%;
  }
}

.is-visible {
  display: block;
  opacity: 1;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(135deg);
}
