.footer {
  background-color: $_main_color;
  padding-top: 45px;
  padding-bottom: 45px;

  @include media(desktop) {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}

.footer-container {
  padding-left: 13.5px;
  padding-right: 13.5px;
}

.footer-text {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: lowercase;
  text-align: center;
  color: $_white_text_color;
  text-align: center;
  margin-bottom: 32px;
}

.footer-nav {
  text-align: center;
}

.footer-list-item {
  display: inline;
}

.footer-link {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $_white_text_color;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: $_secondary_bg_color;
  }
}

.footer-span {
  color: $_white_text_color;
  text-decoration: none;
  font-size: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}
