.gallery-section {
  padding-top: 28px;
  padding-bottom: 34px;
  background-color: $_main_bg-color;
  scroll-margin-top: 50px;

  @include media(desktop) {
    padding-bottom: 26px;
  }
}

.gallery-background-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
    max-width: 100vw;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.gallery-title {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 52px;
  }
}

.gallery-swiper-container {
  position: relative;
  max-width: 320px;
  height: 460px;
  border-radius: 36px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;

  @include media(desktop) {
  }
}

.gallery-img {
  max-width: 320px;
  height: 460px;
  border-radius: 36px;
  overflow: hidden;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 22px;

  @include media(desktop) {
    margin-top: 56px;
  }
}

.gallery-swiper-container {
  .swiper-slide {
    transition: transform 0.3s ease;
  }

  .swiper-slide-active {
    box-shadow: 0 4px 66px 0 #fff;

    @include media(desktop) {
      transform: scale(1.1) !important;
      z-index: 1;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    @include media(desktop) {
    }
  }
}
