.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $_main_bg_color;
  z-index: 10;

  @include media(desktop) {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 88px;
  }
}

.nav-list-link {
  font-weight: 600;
  font-size: 18px;
  color: #180f29;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $_main_bg_color;
  }
}

.link-home {
  border-radius: 100px;
  padding: 12px 16px;
  background: #900909;
  color: #fff9ff;
}

.nav-btn {
  background-color: transparent;
  width: 28px;
  height: 28px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 28px;
  height: 28px;

  @include media(desktop) {
    display: none;
  }
}
