.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $_main_bg_color;
  z-index: 10;

  @include media(desktop) {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 57px;
  }
}

.nav-list-link {
  font-weight: 600;
  font-size: 18px;
  padding: 12px 16px;
  color: #180f29;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: #fff9ff;
    border-radius: 100px;
    padding: 12px 16px;
    background-color: #900909;
  }
}

.nav-list-link.active {
  color: #fff9ff;
  background-color: #900909;
  border-radius: 100px;
  padding: 12px 16px;
}

.nav-btn {
  background-color: transparent;
  width: 28px;
  height: 28px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 28px;
  height: 28px;

  @include media(desktop) {
    display: none;
  }
}
