.hero-section {
  background-color: #fbbb59;
  background-image: url(../img/hero/hero-ipad-mob.png),
    url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 375px 315px, cover;
  padding-top: 60px;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-background-wrapper {
  padding-top: 26px;
  padding-bottom: 270px;

  @include media(desktop) {
    padding-top: 88px;
    padding-bottom: 89px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/hero/hero-ipad-desk.png);
    background-repeat: no-repeat;
    background-position: right 61px center;
    background-size: 467px 647px;
  }
}

.hero-container {
  padding-left: 10.5px;
  padding-right: 10.5px;

  @include media(desktop) {
    padding-left: 40px;
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    max-width: 812px;
  }
}

.hero-img {
  margin-bottom: 12px;

  @include media(desktop) {
    margin-bottom: 28px;
  }
}

.hero-title {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $_main_color;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 32px;
    text-align: center;
    margin-bottom: 22px;
    max-width: fit-content;
  }
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: $_main_color;
  margin-bottom: 12px;
  max-width: 350px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 24px;
    max-width: fit-content;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.hero-btn-img {
}
