.context-menu {
  display: none;
  background-color: $_main_bg_color;
  padding: 32px 0px 32px 60px;
  border-bottom: 2px solid #22003b;
  border-top: 2px solid #22003b;
  border-radius: 0 0 26px 26px;
  max-width: 375px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: left;
}

.context-list-link {
  font-weight: 600;
  font-size: 18px;
  color: #180f29;
  transition: color 0.3s ease-in-out;
}

.context-link-home {
  border-radius: 100px;
  padding: 12px 16px;
  color: #fff9ff;
  background-color: #900909;
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
