.policy-section {
  background-color: $_white_text_color;
  padding-top: 80px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 60px;
  }
}

.policy-container {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 86px;
    padding-right: 86px;
  }
}

.policy-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: $_main_color;
  margin-bottom: 30px;
}

.policy-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: $_main_color;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.policy-link {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.empty-row::after {
  content: '';
  display: block;
  height: 1em;
}

.support-link {
  word-wrap: break-word;
}
