.reviews-section {
  padding-top: 18px;
  padding-bottom: 55px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    padding-top: 14px;
    padding-bottom: 106px;
  }
}

.reviews-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
    position: relative;
  }
}

.reviews-container {
  padding-left: 0;
  padding-right: 0;
}

.reviews-title {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 31px;
  }
}

.reviews-title-img {
  margin-left: auto;
  margin-right: auto;
}

.reviews-swiper-container {
  position: relative;
  max-width: 335px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 360px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-slide {
  border: 2px solid #a50000;
  border-radius: 6px;
  padding: 16px;
  max-width: 335px;
  height: 241px !important;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    max-width: 360px;
    height: 222px !important;
  }
}

.reviews-subtitle {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
}

.reviews-stars-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.75px;
  margin-bottom: 20px;
}

.reviews-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.reviews-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;

  @include media(desktop) {
    margin-top: 0;
    position: absolute;
    top: 73px;
    right: 100px;
  }
}

.arrow-btn {
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
