<section class="about-section" id="about">
  <div class="container about-container">
    <div class="about-title">
      <picture>
        <source
          srcset="./img/about/about-title-desk-min.png"
          media="(min-width: 1440px)"
          width="372"
          height="107"
        />
        <source
          srcset="./img/about/about-title-mob-min.png"
          width="276"
          height="80"
        />
        <img
          class="about-title-img"
          src="./img/about/about-title-mob-min.png"
          alt="Title"
          width="276"
          height="80"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="about-content-wrapper">
      <h2 class="about-subtitle">
        With vibrant graphics, smooth animations, and engaging challenges, Jewel
        Blaze Kingdom is an addictive match-3 adventure for all puzzle lovers.
      </h2>
      <div class="about-primary-wrapper">
        <div class="about-text-wrapper">
          <h2 class="about-subtitle about-secondary-subtitle">
            The Ultimate Jewel Adventure Awaits!
          </h2>
          <p class="about-text">
            Step into the Blazing Castle, where ancient jewel magic and dragon
            legends come to life. In Jewel Blaze Kingdom, your mission is
            to match and collect shimmering jewels, clear obstacles, and
            uncover hidden artifacts as you progress through hundreds of unique
            levels.
          </p>
          <ul class="about-list">
            <li class="about-list-item">
              <p class="about-list-item-text">
                Match 3 or More Jewels - Swap gems to create powerful matches
                and clear the board.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-list-item-text">
                Solve Puzzle Challenges - Each level presents new obstacles and
                tricky match-3 puzzles.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-list-item-text">
                Explore the Mystical Castle - Unlock new areas, rare treasures,
                and legendary relics.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-list-item-text">
                Use Special Power-Ups - Bombs, lightning bolts, and magical
                jewel effects help you overcome tough levels.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk-min.png"
            media="(min-width: 1440px)"
            width="550"
            height="340"
          />
          <source
            srcset="./img/about/about-img-mob-min.png"
            width="335"
            height="340"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob-min.png"
            alt="Screenshot of game"
            width="335"
            height="340"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
