<section class="about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">About us</h2>
    <div class="about-content-wrapper">
      <picture>
        <source
          srcset="./img/about/about-img-desk.png"
          media="(min-width: 1440px)"
          width="545"
          height="532"
        />
        <source
          srcset="./img/about/about-img-mob.png"
          width="335"
          height="532"
        />
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of game"
          width="335"
          height="532"
          loading="lazy"
        />
      </picture>
      <div class="about-text-wrapper">
        <h2 class="about-subtitle">
          The Ultimate Merge & Idle Experience in a Candy Wonderland
        </h2>
        <p class="about-text">
          In Candy Critters, you become the leader of a team of adorable
          Chomplets who clear candy-covered lands in Sweetopia. Your goal is to
          merge, optimize, and expand your operation while uncovering
          hidden coins, gems, and ancient candy factories.
        </p>
        <p class="about-text">
          In Candy Critters, you become the leader of a team of adorable
          Chomplets who clear candy-covered lands in Sweetopia. Your goal is to
          merge, optimize, and expand your operation while uncovering
          hidden coins, gems, and ancient candy factories.
        </p>
        <ul class="about-list">
          <li class="about-list-item">
            <p class="about-list-item-text">
              Recruit and Merge - Grow your team by hiring new
              Chomplets and combining identical ones to boost power.
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Clear Obstacles & Find Treasures - Remove candy debris to uncover
              rewards and unlock new areas.
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Explore and Rebuild - Restore long-lost candy factories to boost
              your earnings.
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Optimize for Maximum Efficiency - Decide whether to merge
              critters, unlock upgrades, or deploy them for quicker results.
            </p>
          </li>
        </ul>
        <h2 class="about-subtitle">
          With its blend of strategy, progression, and adorable
          characters, Candy Critters offers a relaxing yet deeply engaging
          experience.
        </h2>
      </div>
    </div>
  </div>
</section>
