<section class="advantages-section" id="advantages">
  <div class="container advantages-container">
    <h2 class="section-title advantages-title">Advantages</h2>
    <div class="advantages-content-wrapper">
      <picture>
        <source
          srcset="./img/advantages/advantages-img-desk.png"
          media="(min-width: 1440px)"
          width="378"
          height="672"
        />
        <source
          srcset="./img/advantages/advantages-img-mob.png"
          width="335"
          height="596"
        />
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img-mob.png"
          alt="Screenshot of game"
          width="335"
          height="596"
        />
      </picture>
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Unique Merge & Idle Gameplay</h3>
            <p class="advantages-text">
              Merge critters to increase their power and clear obstacles faster.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star2-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Endless Exploration</h3>
            <p class="advantages-text">
              Unlock new regions of Sweetopia, each with its own challenges and
              hidden treasures.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Strategic Planning</h3>
            <p class="advantages-text">
              Balance merging, upgrading, and deployment to optimize
              candy-clearing efficiency.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star2-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Idle Progression</h3>
            <p class="advantages-text">
              Earn rewards even while offline - progress continues while you're
              away.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Vibrant and Engaging World</h3>
            <p class="advantages-text">
              Colorful visuals, adorable characters, and a lively
              soundtrack keep the experience exciting.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-star-img"
            src="./img/advantages/advantages-star2-mob.png"
            alt="Star"
            width="57"
            height="54"
          />
          <div class="advantages-item-wrapper">
            <h3 class="advantages-subtitle">Upgrade and Invest</h3>
            <p class="advantages-text">
              Collect upgrade cards to boost your speed, profits, and Chomplet
              efficiency.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
