<section class="benefits-section" id="benefits">
  <div class="benefits-section-wrapper">
    <div class="container benefits-container">
      <h2 class="section-title benefits-title">Benefits</h2>
      <div class="benefits-swiper-container">
        <ul class="swiper-wrapper benefits-swiper-wrapper">
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <svg class="arrow-icon" width="70" height="70">
                  <use href="./img/sprite.svg#icon-yellow-circle"></use>
                </svg>
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">
                  Relaxing Yet Addictive Gameplay
                </h2>
                <p class="benefits-text">
                  Simple mechanics, but deep strategy keeps players engaged for
                  hours.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <svg class="arrow-icon" width="70" height="70">
                  <use href="./img/sprite.svg#icon-red-circle"></use>
                </svg>
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">Unlockable Content</h2>
                <p class="benefits-text">
                  New critters, power-ups, and candy factories unlock as you
                  progress.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <svg class="arrow-icon" width="70" height="70">
                  <use href="./img/sprite.svg#icon-yellow-circle"></use>
                </svg>
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">Compete and Compare</h2>
                <p class="benefits-text">
                  Track your progress against other players and aim for the
                  highest efficiency.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="benefits-controls">
        <button class="arrow-btn" id="leftArrow" aria-label="Previous slide">
          <svg class="arrow-icon" width="80" height="48">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="arrow-btn" id="rightArrow" aria-label="Next slide">
          <svg class="arrow-icon" width="80" height="48">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
