<section class="benefits-section" id="benefits">
  <div class="benefits-section-wrapper">
    <div class="container benefits-container">
      <div class="benefits-title">
        <picture>
          <source
            srcset="./img/benefits/benefits-title-desk-min.png"
            media="(min-width: 1440px)"
            width="372"
            height="107"
          />
          <source
            srcset="./img/benefits/benefits-title-mob-min.png"
            width="276"
            height="80"
          />
          <img
            class="benefits-title-img"
            src="./img/benefits/benefits-title-mob-min.png"
            alt="Logo"
            width="276"
            height="80"
          />
        </picture>
      </div>
      <div class="benefits-swiper-container">
        <ul class="swiper-wrapper benefits-swiper-wrapper">
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img1-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">Immersive Fantasy Adventure</h2>
                <p class="benefits-text">
                  A rich storyline with mystical castles, dragons, and enchanted
                  gems.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img2-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">Hundreds of Unique Levels</h2>
                <p class="benefits-text">
                  More than 500 carefully designed match-3 challenges that test
                  your strategy and puzzle-solving skills.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img3-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">
                  Engaging Power-Ups and Boosters
                </h2>
                <p class="benefits-text">
                  Explosive bombs, lightning blasts, and powerful jewel
                  combos to help clear levels faster.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img4-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">
                  Free to Play with Daily Bonuses
                </h2>
                <p class="benefits-text">
                  Enjoy free rewards and daily login bonuses to enhance
                  gameplay.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img5-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">Compete and Collect Rewards</h2>
                <p class="benefits-text">
                  Earn stars, unlock achievements, and collect in-game rewards.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img6-min.png"
                  alt="Benefits picture"
                  width="73"
                  height="73"
                />
              </div>
              <div class="benefits-text-wrapper">
                <h2 class="benefits-subtitle">No Internet Required</h2>
                <p class="benefits-text">
                  Play offline, without time limits or energy restrictions.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
