<section class="hero-section" id="hero">
  <div class="hero-background-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="812"
            height="253"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="371"
            height="116"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Logo"
            width="371"
            height="116"
          />
        </picture>
        <h1 class="hero-title">
          Merge, Explore, and Build Your Candy Empire in Candy Critters!
        </h1>
        <p class="hero-text">
          Lead a team of adorable Chomplets on a delightful adventure through
          Sweetopia! Merge, recruit, and expand your candy-clearing
          operation while uncovering hidden treasures and growing your profits.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.playsidestudios.candycritters&hl=en&gl=us"
          rel="noopener noreferrer"
          target="_blank"
          title="Download the game Candy Critters: Idle Merge on Google Play"
          aria-label="Download the game Candy Critters: Idle Merge on Google Play"
        >
          <picture>
            <source
              srcset="./img/hero/hero-btn-desk.png"
              media="(min-width: 1440px)"
            />
            <img
              src="./img/hero/hero-btn-mob.png"
              alt="Download button"
              width="215"
              height="76"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
