<section class="hero-section" id="hero">
  <div class="hero-background-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="../img/hero/hero-title-desk-min.png"
            media="(min-width: 1440px)"
            width="559"
            height="308"
          />
          <source
            srcset="../img/hero/hero-title-mob-min.png"
            width="356"
            height="197"
          />
          <img
            class="hero-img"
            src="../img/hero/hero-title-mob-min.png"
            alt="Logo"
            width="356"
            height="197"
          />
        </picture>
        <h1 class="hero-title">
          Enter the Blazing Castle and Conquer the Jewel Challenges!
        </h1>
        <p class="hero-text">
          A mystical journey awaits in Jewel Blaze Kingdom, where powerful
          dragons and legendary treasures lie hidden within the castle walls.
          Solve challenging match-3 puzzles, uncover ancient relics, and become
          a master of magic and strategy.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.enp.blaze.google&hl=en&gl=us"
          rel="noopener noreferrer"
          target="_blank"
          title="Download the game Jewel Blaze Kingdom on Google Play"
          aria-label="Download the game Jewel Blaze Kingdom on Google Play"
        >
          <picture>
            <source
              srcset="../img/hero/hero-btn-desk-min.png"
              media="(min-width: 1440px)"
              width="368"
              height="91"
            />
            <img
              src="../img/hero/hero-btn-mob-min.png"
              alt="Download button"
              width="242"
              height="60"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
